@theme {
	--font-inter: 'Inter', sans-serif;

	--color-primary: #4869a4;
	--color-surface: #dedeDF;
	--color-muted: #7b7b7b;
	--color-ink: #444444;

	--text-title: 3rem;
	--text-body: 1rem;
	--text-meta: 0.75rem;
}

a {
	color: var(--color-primary);
}
